.Button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border: 1px solid var(--color-blue);
    background: var(--color-blue);
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: all .1s ease;

    &:hover {
        color: var(--color-white);
    }

    &_width_max {
        width: 100%;
    }

    &_size_m {
        height: 36px;
        padding: 0 12px;
    }
}
